:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: var(--preta);4
   font-family: 'Arial', Times, serif;
   color: white;
}

header .container{
display: flex;
justify-content: space-between;
align-items: center;
}
.menu{
    margin: 20px;
}
.menu i, img{
    margin-left: 10px;
}


header .container nav{
    position: relative; 
    right: 330px;
}


header .logo{
    margin-left: 5px;
    
}

header nav a{
    text-decoration: none;
    color: rgb(251, 249, 249);
    margin-right: 10px;
}

header nav a:hover{
    color: #AAA;
}

header i{
    justify-content:
}
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/spider-man.jpg');
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    width: 45%;
}

.titulo{
    
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .layout{
    display: flex;
    align-items: center;
}

.botao {
    background-color: rgba(27, 27, 27, 0.5);
    border: none;
    color:white;
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 6px;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao {
    margin-left: 30px;
}


.layout{
    margin-top: 15%;
}

main .container{
    margin-left: 30px;
}

.box-filmes{
    height: 70%;
    width: 70%;
    display: block;
}

.carrossel-filme{

    margin-top: 5px;
   margin-left: 5px;
   background-color: rgba(0, 0, 0, 0.5);
}

